div {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 20px;
    position: relative;
    background-color: #eee;
    border: 4px solid #000;
    box-shadow: 7px 7px 0 #2196f3, -7px -7px 0 #e91e63;
    counter-increment: count;
    font: bold 18px sans-serif;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}
div::after {
    content: "Element";
    position: absolute;
    top: 40px;
    left: 14px;
}
div::before {
    content: counter(count);
    position: absolute;
    top: -10px;
    left: 35px;
    padding: 7px;
    color: #fff;
    background-color: #000;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}
