div {
    width: 400px;
    margin: 30px auto;
    padding: 15px;
    position: relative;
    font: 20px bold;
    text-align: center;
    background-color: #eee;
    border: 3px solid;
    border-color: #f44336 #2196f3;
}
.top-left,
.bottom-left,
.top-right,
.bottom-right {
    position: absolute;
    width: 25px;
    padding: 5px;
    color: #fff;
    text-align: center;
    background-color: #2196f3;
}
.top-left {
    top: -18px;
    left: -18px;
    border-right: 3px solid #f44336;
}
.bottom-left {
    bottom: -18px;
    left: -18px;
    border-right: 3px solid #f44336;
}
.top-right {
    top: -18px;
    right: -18px;
    border-left: 3px solid #f44336;
}
.bottom-right {
    bottom: -18px;
    right: -18px;
    border-left: 3px solid #f44336;
}
