.grid {
    width: 800px;
    height: 400px;
    margin: 10px auto;
    padding: 20px;
    display: grid;
    grid: 1fr auto / auto 1fr 1fr auto;
    gap: 20px;
    background-color: #ddd;
}
.grid div {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #b00020;
    font: bold 16px sans-serif;
}
