.parent {
    width: 600px;
    height: 300px;
    margin: 10px auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    background-color: #eee;
}
.parent div {
    width: calc(95% / 3);
    padding: 10px 0;
    color: #fff;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e91e63;
}
.parent .one {
    order: 6;
    align-self: flex-end;
}
.parent .two {
    order: 5;
}
.parent .three {
    order: 2;
    align-self: flex-start;
}
.parent .four {
    order: 3;
}
.parent .five {
    order: 4;
}
.parent .six {
    order: 1;
}
