.p1,
.p2,
.p3 {
    text-transform: capitalize;
    text-align: center;
}
.p1 {
    font-size: 3.125rem;
    /* 50px / 16px = 3.125rem */
}
.p2 {
    font-size: 2.5rem;
    /* 40px / 16px = 2.5rem */
}
.p3 {
    font-size: 1.875rem;
    /* 30px / 16px = 1.875rem */
}
