div {
    margin: 200px auto;
    width: 200px;
    height: 200px;
    background-color: rgb(255 0 0 / 39%);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
    transform: rotate(45deg);
    transform: rotate(1turn);
    transform: rotate(0.5turn);
    transform: rotate(0.25turn);
}
