div {
    width: 600px;
    margin: 10px auto;
    margin-top: 100px;
    padding: 20px;
    position: relative;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 5px;
    background-color: #ddd;
    border: 10px solid;
    border-color: transparent #673ab7 transparent #f44336;
}
div::before,
div::after {
    content: "";
    position: absolute;
    left: -10px;
    width: calc(100% + 20px);
    height: 10px;
    background: linear-gradient(
        to right,
        #f44336 0% 20%,
        #2196f3 20% 40%,
        #4caf50 40% 60%,
        #e91e63 60% 80%,
        #673ab7 80% 100%
    );
}
div::before {
    top: -10px;
}
div::after {
    bottom: -10px;
}
div::first-letter {
    color: #f00;
}

/*
    Another Solution:
        [01] - Remove Before And After
        [02] - Add This:

            div {
                border-image: linear-gradient(
                    to right,
                    #f44336 0% 20%,
                    #2196f3 20% 40%,
                    #4caf50 40% 60%,
                    #e91e63 60% 80%,
                    #673ab7 80% 100%
                );
                border-image-slice: 1;
            }

*/
