.main {
    width: 400px;
    background-color: #eee;
    margin: 10px auto;
    padding: 5px;
    font: bold 16p Tahoma;
    border: 2px solid #ccc;
}
.main .lang1,
.main .lang2,
.main .lang3 {
    list-style-type: none;
    padding: 10px;
    border: 10px solid white;
}
.main .lang1 ol li,
.main .lang2 ol li {
    padding: 10px;
    background-color: #fff;
    border: 1px solid #eee;
    margin-top: 5px;
}
.main .lang1 .list1,
.main .lang1 .list2,
.main .lang1 .list3 {
    list-style-type: decimal;
}
.main .lang2 .list1,
.main .lang2 .list2,
.main .lang2 .list3 {
    list-style-type: upper-roman;
}
.main .lang3 ol li,
.main .lang3 ul li {
    margin-top: 5px;
    margin-left: -40px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #eee;
    list-style-position: inside;
}
