div {
    margin: 20px auto;
    width: 300px;
    font-weight: bold;
    font-size: 1rem;
    padding: 20px;
    background-color: rgb(179, 179, 179);
    color: black;
}
.one,
.two {
    background-color: rgb(179, 179, 179, 0.1);
}
.two {
    opacity: 0.3;
}
