/*
    CSS Global Values
        - inherit
        - initial
        - unset
        --- If Inherit => inherit
        --- If Not => initial
        - revert CSS Level [4]
        - all
*/

* {
    box-sizing: border-box;
    margin: 0;
}
div {
    color: red;
    font-size: 40px;
    font-weight: bold;
    background-color: #eee;
    padding: 20px;
    margin: 5px;
    border: 2px solid black;
}
