* {
    box-sizing: border-box;
    margin: 0;
}
.container {
    margin: 40px auto;
    width: 200px;
    perspective: 600px;
}
.box {
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    transition: transform 1s;
    transform-origin: right center;
}
.box:hover {
    -webkit-transform: translateX(-100%) rotateY(-180deg);
    -moz-transform: translateX(-100%) rotateY(-180deg);
    -ms-transform: translateX(-100%) rotateY(-180deg);
    -o-transform: translateX(-100%) rotateY(-180deg);
    transform: translateX(-100%) rotateY(-180deg);
}
.box .face {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
    color: white;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.box .front {
    background-color: red;
}
.box .back {
    background-color: green;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
