.parent {
    width: 600px;
    height: 400px;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #eee;
}
.parent div {
    margin: 10px;
    padding: 85px 45px;
    color: #fff;
    font-family: sans-serif;
}
.parent .one {
    background-color: #ff9800;
}
.parent .two {
    order: 2;
    align-self: flex-end;
    background-color: #8bc34a;
}
.parent .three {
    order: 3;
    background-color: #795548;
}
.parent .four {
    order: -1;
    align-self: flex-end;
    background-color: #673ab7;
}
