div {
    width: 400px;
    padding: 15px;
    margin: 20px auto;
    background-color: #d4d4d4;
    outline: 10px solid #d4d4d4;
}
.note1 {
    border-left: 6px solid #e91e63;
}
.note2 {
    visibility: hidden;
}
.note3 {
    border-left: 6px solid #009688;
}
