:root {
    --mainColor: #009688;
}
h2 {
    width: 150px;
    position: relative;
    top: 50%;
    left: 50%;
    margin-left: -75px;
    padding: 10px 0;
    background-color: var(--mainColor);
    color: #fff;
    text-align: center;
    z-index: 1;
}
h2::before,
h2::after {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    z-index: -1;
}
h2::before {
    left: -5.5px;
    width: 10%;
    background-color: #fff;
    transform: skewX(15deg);
}
h2::after {
    left: -7px;
    width: 6%;
    background-color: inherit;
    transform: skewX(17deg);
}
