.one,
.two,
.three {
    width: 400px;
    background-color: #ccc;
    margin: 10px auto;
    padding: 20px;
}
.two {
    white-space: nowrap;
    overflow: hidden;
}
.three {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
