:root {
    --mainColor: #009688;
    --mainPadding: 10px;
}
div {
    margin: 10px auto;
    padding: var(--mainPadding, 10px);
    font-size: 40px;
    color: var(--mainColor, #b00020);
    border: 6px solid var(--mainColor, #000);
}
