div {
    width: 100px;
    height: 100px;
    margin: auto;
    background-color: #eee;
    box-shadow: inset 1px 0 7px 3px #222;
    -webkit-border-radius: 5px 50px 5px 50px;
    -moz-border-radius: 5px 50px 5px 50px;
    -ms-border-radius: 5px 50px 5px 50px;
    -o-border-radius: 5px 50px 5px 50px;
    border-radius: 5px 50px 5px 50px;
}
